/* body {
    background: bisque url('\\wsl.localhost\Ubuntu\home\mrk\back.png');
} */
p {
    text-align: left;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(193, 223, 193);
}

.headline {
    color: rgb(235, 223, 223);
}

.headline__body {
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-align: center;
}

.gifanim {
    display: inline-block;
    position: relative;
    top: -90px;
}

.anim__vid {
    display: inline-block;
    position: relative;
}

.anim__head {
    text-align: left;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(193, 223, 193);
}

.aud__head {
    text-align: left;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(193, 223, 193);
}

.aud__voice {
    display: inline-block;
    position: relative;
}

.desc {
    color: rgb(235, 223, 223);
}

.desc__main {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
}

.desc__main-center {
    text-align: justify;
}

.table {
    display: inline-block;
    table-layout: block;
    width: 58%;
    margin-bottom: 20px;
}

.table__tagname {
    font-size: 30px;
    color: rgb(226, 217, 217);
}

.table__header {
    padding: 5px;
    background: #5e5151;
    border: 1px solid #dddddd;
}

.table__header-cell {
    color: rgb(235, 223, 223);
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    background: #5e5151;
    border: 1px solid #dddddd;
}

.table__flesh {
    border: 1px solid #9b8383;
    text-align: left;
}

.table__flesh-cell {
    color: rgb(235, 223, 223);
    font-size: 20px;
    padding: 5px 20px;

}


#itemtable tbody tr:nth-child(odd) {
    background: #5f4d4d;
}

#itemtable tbody tr:nth-child(even) {
    background: #4e3d3d;
}