/* body {
    background: bisque url('\\wsl.localhost\Ubuntu\home\mrk\back.png');
} */

h1 {
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-align: center;
}

p {
    text-align: left;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(193, 223, 193);
}

.gifanim {
    display: inline-block;
    position: relative;
    top: -90px;
}

.vid {
    display: inline-block;
    position: relative;
}

.aud {
    display: inline-block;
    position: relative;
}

td {
    color: rgb(226, 217, 217);
}

th {
    color: rgb(235, 223, 223);
}

.desc {
    margin-top: 50px;
    color: rgb(235, 223, 223);
    font-size: 30px;
    margin-bottom: 20px;
}

#itemtable {
    display: inline-block;
    table-layout: block;
    width: 58%;
    margin-bottom: 20px;
}

.tagname {
    font-size: 30px;
    color: rgb(226, 217, 217);
}

#itemtable th {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    background: #5e5151;
    border: 1px solid #dddddd;
}

#itemtable td {
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid #9b8383;
    text-align: left;
}


#itemtable tbody tr:nth-child(odd) {
    background: #5f4d4d;
}

#itemtable tbody tr:nth-child(even) {
    background: #4e3d3d;
}